# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.coverage
.coverage.*
htmlcov/

# Environment
.env

# Poetry
poetry.lock

# Pytest
.pytest_cache/

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
tests/node_modules/

# IDE
.vscode/